html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.halloworld{
    height: 200px;
    width: 200px;
    background-color: orange;
    margin:0 auto;
    position:relative;
    top: 7px;
    left: 5px;
    text-align: center;
}

[class^=box]{
    height: 200px;
    width: 200px;
    position:absolute;
}
.box1{
background-color:red;
position:absolute;
bottom:0;
left:0;
}
.box2{
background:rgb(0, 255, 85);
position:absolute;
bottom:10px;
left:10px;
}
.box3{
background: rgb(0, 183, 255);
position:absolute;
bottom:20px;
left:20px;
z-index:-1;
}